@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --primary-color: hsl(0, 0%, 95%);
  --orange-color: hsl(31, 77%, 52%);
  --light-green-color: hsl(184, 100%, 22%);
  --dark-green-color: hsl(179, 100%, 13%);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*  I just earned about flexbox, and will try to use it in this
    project.
*/
main {
  min-height: 100vh;
  min-width: 100vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.container-cols {
  height: 500px;
  width: 320px;
  padding: 40px 80px;
}
.container-img {
  margin-bottom: 20px;
}
.container-sedans {
  background-color: var(--orange-color);
}
.container-suvs {
  background-color: var(--light-green-color);
}
.container-luxury {
  background-color: var(--dark-green-color);
}
.container-title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
  font-size: 30px;
  margin-bottom: 25px;
}
.container-paragraph {
  font-family: "Lexend Deca" 400;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 80px;
}
.container-link {
  background-color: var(--primary-color);
  border: none;
  padding: 15px 40px;
  font-family: "Lexend Deca";
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}
.container-link:hover {
  border: 1px solid var(--primary-color);
}
.container-link-sedans {
  color: var(--orange-color);
}
.container-link-suvs {
  color: var(--light-green-color);
}
.container-link-luxury {
  color: var(--dark-green-color);
}

.container-link-sedans:hover {
  background-color: var(--orange-color);
  color: var(--primary-color);
}
.container-link-suvs:hover {
  background-color: var(--light-green-color);
  color: var(--primary-color);
}
.container-link-luxury:hover {
  background-color: var(--dark-green-color);
  color: var(--primary-color);
}

@media screen and (max-width: 900px) {
  .container {
    display: block;
  }
  .container-cols {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
